<footer class="grid span-12 place-center pt-sm mt-lg">
    <div class="start-1 span-8 flex column gap-xs pb-xl border-top border-weight-md blend-difference">
        <div class="flex gap-md span-12">
            <div><a class="pt-xs pb-xs pr-xs" href="/about/">Home</a></div>
            <div><a class="pt-xs pb-xs pr-xs" href="/about/">About</a></div>
            <div><a class="pt-xs pb-xs pr-xs" href="/food/">Food</a></div>
            <div><a class="pt-xs pb-xs pr-xs" href="/plans/">Plans</a></div>
        </div>
        <div>
            Last updated: February 8, 2025
        </div>
    </div>
    <div class="start-auto span-4 -mt-lg"><a class="header" href={{ "/" | url }}><img width="400px" src="/assets/images/dirtfolk_full_logo.png"></div></a>
  </footer>