<div class="bleed@md pt-sm pb-sm color set-bg primary">
    <div class="marquee color">
        <div class="marquee-group">
            <span class="header">You spin me right round, baby. Like a record, baby.</span>
            <span class="header">You spin me right round, baby. Like a record, baby.</span>
        </div>
        <div class="marquee-group">
            <span class="header">You spin me right round, baby. Like a record, baby.</span>
            <span class="header">You spin me right round, baby. Like a record, baby.</span>
        </div>
    </div>
</div>